- content_for :actions do
  = link_to 'Refresh', "javascript:location.reload(true);", :class => 'button refresh'
  = link_to 'New Post', new_forum_thread_path, :class => 'button new', :rel => 'facebox'

- if @threads.blank?
  = image_tag("http://www.biojobblog.com/giant-panda-china-big(1).jpg")
  %p.empty No threads!

%ol.threads
  - @threads.each do |thread|
    %li{:id => "thread-#{thread.id}", :value => thread.id}
      = link_to thread.title, forum_forum_thread_path(@forum, thread)
      %span.meta.reply.thread_reply
        = link_to 'Reply', new_forum_post_path(:thread_id => thread.id), :class => 'reply', :rel => 'facebox'
        %span.reply_count== (#{thread.forum_posts.count})
      %span.meta.created_at
        %abbr{:title => thread.created_at.strftime("%b %d, %Y at %I:%M%p %Z")}== #{time_ago_in_words(thread.created_at)} ago

      - if thread.forum_posts.blank?
        / No posts yet
      - else
        - posts = thread.forum_posts
        - top_level_posts = posts.select {|fp| fp.parent_id.nil? }.compact
        = render :partial => 'forum_posts/posts', :object => top_level_posts, :locals => {:all_posts => posts, :thread => thread}
- if is_admin?
  %p.admin
    = link_to 'Edit', edit_forum_path(@forum)
    \|
    = link_to 'Back', forums_path
