= render :partial => 'forums_sidebar'

- if @threads.blank?
  = image_tag("http://www.biojobblog.com/giant-panda-china-big(1).jpg")
  %p.empty No threads!

%ol.threads
  - @threads.each do |thread|
    %li{:id => "thread-#{thread.id}"}
      = link_to thread.title, forum_forum_thread_path(@forum, thread)
      %span.meta.reply.thread_reply
        = link_to 'Reply', new_forum_post_path(:thread_id => thread.id), :class => 'reply', :rel => 'facebox'
        %span.reply_count== (#{thread.forum_posts.count})
      %span.meta.created_at
        %abbr{:title => thread.created_at.strftime("%b %d, %Y at %I:%M%p %Z")}== #{time_ago_in_words(thread.created_at)} ago

      - if thread.forum_posts.blank?
        / No posts yet
      %ul.posts
        - thread.forum_posts.each do |post|
          %li{:id => "post-#{post.id}"}
            %span.text= format_post_text(post.text)
            .post_meta{:style => "display: none;"}
              = link_to '#', forum_post_path(:thread_id => thread.id, :post_id => post.id), :class => 'action permalink', :title => "Permalink to this specific post"
              / = link_to 'Sticky', sticky_forum_post_path(:thread_id => thread.id, :post_id => post.id), :class => 'action sticky', :title => "Sticky this post to the top. Easier to keep an eye on it"
              = link_to 'Reply', new_forum_post_path(:thread_id => thread.id, :post_id => post.id), :class => 'action reply', :rel => 'facebox', :title => "Reply to this post"

- if is_admin?
  %p.admin
    = link_to 'Edit', edit_forum_path(@forum)
    \|
    = link_to 'Back', forums_path
