= form_for @forum_post do |f|
  -if @forum_post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@forum_post.errors.count, "error")} prohibited this forum_post from being saved:"
      %ul
        - @forum_post.errors.full_messages.each do |msg|
          %li= msg

  :javascript
    // Slight delay on focus for facebox
    $(document).ready(function(){
      setTimeout(function(){
        $("#text").focus();
      }, 100);
    });


  .field
    -# ghetto FIXME
    = f.hidden_field :forum_thread_id, :value => params[:thread_id].to_i
    = f.hidden_field :parent_id, :value => params[:parent_id].to_i
    == parent_id: #{params[:parent_id]}

    = f.label :text
    = f.text_field :text, :size => 70, :id => "text", :class => "focus"
  .actions
    = f.submit 'Post'
