= form_for @forum_post do |f|
  -if @forum_post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@forum_post.errors.count, "error")} prohibited this forum_post from being saved:"
      %ul
        - @forum_post.errors.full_messages.each do |msg|
          %li= msg

  -# ghetto FIXME
  = f.hidden_field :forum_thread_id, :value => params[:thread_id].to_i

  .field
    = f.label :text
    = f.text_area :text
  .actions
    = f.submit 'Save'
