= form_for @thread do |f|
  -if @thread.errors.any?
    #error_explanation
      %h2= "#{pluralize(@thread.errors.count, "error")} prohibited this forum_thread from being saved:"
      %ul
        - @thread.errors.full_messages.each do |msg|
          %li= msg

  :javascript
    // Slight delay on focus for facebox
    $(document).ready(function(){
      setTimeout(function(){
        $("input#title").focus();
      }, 100);
    });

  .field
    / = f.label :title, 'Post'
    = f.text_field :title, :size => 70, :id => 'title', :class => "focus"
  .actions
    = f.submit 'Save'
